body {
    background-color: blanchedalmond;
  }
#canvas{
    background-color:white;
    border: 5px solid;
    border-color: pink;
}
#menu{
    background-color:#fcc2e7;
    width: 140px;
    height: 765px;
    float: right;
    border: 3px double powderblue;
    position:absolute;
    top: 0px;
    left :1110px;
}
.slider1 {
    -webkit-appearance: none;
    width: 130px; 
    height: 15px;
    border-radius: 5px;  
    background:  #f069b7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: wheat;
    cursor: pointer;
}
.row{
    width: 50%;
    
    line-height: 100px;
}
.btn {
    width: 60px;
    height: 60px;
    background-color:  wheat;
    
    border-radius: 50%;
    margin-left: 1px;
    
}
.btn3{
    width: 60px;
    height: 60px;
    background: wheat;
    border: 3px double;
    border-color: #c2fce4;
   
}
.btn:hover {
    background: pink;
    color: pink;
}	

#upload {
    display: none;
}
#font_menu{
    background-color: wheat;
    width: 1084px;
    height: 30px;
    border: 2px double white;
    position: absolute;
    top: 740px;
    
}
.textbox{
    width: 120px;
    height: 15px;
    background-color: oldlace;
    margin-right: 100px;
    border: 2.5px dotted;
    border-color: #f5ae71;
}
.optionbox {
    background-color: oldlace;
    font-style: oblique;
    font-size: small;
    border: 2.5px solid;
    border-color: #f5ae71;
    margin-right: 100px;
}
#font_size {
    margin-left: 5px;
}
.slider2 {
    -webkit-appearance: none;
    width: 150px; 
    height: 15px;
    border-radius: 5px;  
    background:  #ebc7a9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #f0862b;
    cursor: pointer;
}
#size {
    margin-top: 5px;
}
#Font {
    color: gray;
}
#labelforupload {
    cursor: pointer;
}
